


 .fa-twitter-square{ 
     padding-left: 7px;

 }

 .cart{
    position: absolute;
   
    right: 75%;
     
 }

 .fa-instagram{
    padding-left: 7px;
 }

 .fa-facebook-square{
    padding-left: 7px;
 }

 .fa-pinterest-square{
    padding-left: 7px;
 }


 .nav-wrapper {
     border-bottom: 7px;
     border-color: rgb(143, 141, 141);
     height: 100px;

 }

   .slideholder{
       position: relative;
       height: 600px;

   }

 .slideholder  .btn-l{
     position: absolute;
     left: 55%;
     font-family:  'Abril Fatface', cursive;
     top:35%;
    
    
 }

 .slideholder  .btn-r{
    position: absolute;
    right: 55%;
   font-family:  'Abril Fatface', cursive;
     top:35%;
    
    
}

.center{
    
    font-size: 75px;
    font-weight: bolder;
    font-family: 'Cinzel', serif;
}

.notifications{
    position: absolute;
    right: 800px;
}

.medium{
    position: absolute;
    right: 1in;
    
}


 
     
.white-text{
   
    
    font-family: 'Cinzel', serif;
}

   .menu {
    position: absolute;
    right: 2in;

   }
.form-a{
    display: none;
    margin: auto;
}
.restaurants{
    max-width: 30%;
    
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
 
  main {
    flex: 1 0 auto;
  }