


 .fa-twitter-square{ 
     padding-left: 7px;

 }

 .cart{
    position: absolute;
   
    right: 75%;
     
 }

 .fa-instagram{
    padding-left: 7px;
 }

 .fa-facebook-square{
    padding-left: 7px;
 }

 .fa-pinterest-square{
    padding-left: 7px;
 }


 .nav-wrapper {
     border-bottom: 7px;
     border-color: rgb(143, 141, 141);
     height: 100px;

 }

   .slideholder{
       position: relative;
       height: 600px;

   }

 .slideholder  .btn-l{
     position: absolute;
     left: 55%;
     font-family:  'Abril Fatface', cursive;
     top:35%;
    
    
 }

 .slideholder  .btn-r{
    position: absolute;
    right: 55%;
   font-family:  'Abril Fatface', cursive;
     top:35%;
    
    
}

.center{
    
    font-size: 75px;
    font-weight: bolder;
    font-family: 'Cinzel', serif;
}

.notifications{
    position: absolute;
    right: 800px;
}

.medium{
    position: absolute;
    right: 1in;
    
}


 
     
.white-text{
   
    
    font-family: 'Cinzel', serif;
}

   .menu {
    position: absolute;
    right: 2in;

   }
/* take-out */
.form-a{
    display: none;
    margin: auto;
}
.container .results{
    display: none;
    margin: auto;
}

/* stay-in */
.form-b{
    display: none;
    margin: auto;
}
.restaurants{
    max-width: 30%;
    
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
 
main {
    flex: 1 0 auto;
}

.pics {
    height: 100%;
    width: 100%;
}

.textUnderline{
    text-decoration: underline;
}

.textUppercase{
    text-transform: uppercase;
}

/* RECIPE DISPLAY CSS */

.recipeWrapper{
    max-width: 800px;
    transition: 1000ms;
}

.ingredientsAndInstructions{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}

.cookingIngredients{
    letter-spacing: 1px;
    display: flex;
    
}

#ingredients{
    width: 200px;
}

.cookingInstructions{
    padding-top: 20px;
    letter-spacing: 1px;
    line-height: 16px;
    max-width: 350px;
}

.img1 {
    width: 100%;
    height: 100%;
    margin-top: 0px;
}
  
img {
    width: 25%;
    height: auto;
    margin-top: 10px;
}

/* TABLET + DESKTOP STYLING */

@media screen and (min-width: 650px) {
    
    header{
        height: 450px;
    }
    
    h1{
        font-size: 6em;
    }
    
    header button{
        font-size: 1em;
    }
    
    h2{
        font-size: 2.4em;
    }
    
    h3{
        font-size: 1.4em;
    }
    
    .buttonWrapper{
        padding: 12px 15px;
        font-size: 0.8em;
    }
    
    .recipeWrapper{
        max-width: 800px;
        transition: 1000ms;
    }
    
    .ingredientsAndInstructions{
        display: flex;
        flex-direction: row;
        font-size: 1em;
    }

    .cookingIngredients{
        letter-spacing: 1px;
        display: flex;
        justify-content: space-between;
    }

    #ingredients{
        width: 200px;
    }

    .cookingInstructions{
        padding-left: 50px;
        padding-top: 10px;
        max-width: 400px;
    }
    
}